body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block; /* Remove extra space below canvas */
} 